
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/wait.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Wait Room</title>
</head>
<body>
    <%- include('partials/menu') %> 
    <h1>Waiting Room</h1>
    <h2>Room: <%= roomDetails.room_name %>, Hosted by <%= host.username %></h2>

    <div class="card-container" id="players">

        <% players.forEach(function(player) { %>
            <div class="player" id="player-<%= player.user_id %>">
                <p>
                    <span id="username-<%= player.user_id %>"><%= player.username %></span> - 
                    <span id="status-<%= player.user_id %>"><%= player.status ? 'Ready' : 'Not Ready' %></span>

                    <% if (player.username === session.user.username) { %>
                    <button id="readyButton-<%= player.user_id %>" onclick="markReady('<%= roomDetails.room_id %>', '<%= player.user_id %>')">Ready</button>
                    <button onclick="exitRoom('<%= roomDetails.room_id %>', '<%= player.user_id %>')">Exit</button>  
                    <% } %>
                
                    <% if (roomDetails.host_id === session.user.userId && player.user_id !== session.user.userId) { %>
                        <button onclick="kick('<%= roomDetails.room_id %>', '<%= player.user_id %>')">kick</button>
                    <% } %>
                </p>
            </div>
        <% }); %>


        <div class="card">
            <i class="fa-solid fa-face-smile"></i>
            <div class="card-content">
                <p class="name">Jenny</p>
            </div>
            <div class="input-box">
                <input  class="waitButton" type="submit" value="Ready">
            </div>
        </div>

        
    </div>
    <% if (roomDetails.host_id === session.user.userId) { %>
        <button class="waitButton" id="startGame" onclick="startGame()">Start Game</button>
    <% } %>
        <button class="exitButton">Exit</button>
    <%- include('partials/chat', { session: session, roomId: roomDetails.room_id }) %>
    <script>
        const hostId = "<%= roomDetails.host_id %>";
        const sessionUsername = "<%= session.user.username %>";
        const sessionUserId = "<%= session.user.userId %>";
    </script>
    <script src="/script/waiting-room.js"></script>
</body>
</html>